.accounts-page
{
    max-width: 1140px;
    margin-top:30px !important;
    margin:0 8%;
}
.accounts-container
{
    width:100%;
}
.accounts
{
    padding:30px;
    margin-bottom: 30px;
    background-color: #394e64;
}
.accounts h4
{
    color:#fff;
    font-weight:800;
}
.accounts-grp
{
    margin-top:20px;
}
.profile-page
{
    display: flex;
    width:100%;
    justify-content: space-between;
}
.avatar-page
{
    flex:0.30;
    padding:30px;
    background-color: #394e64;
}
.avatar-page h4
{
    color:#fff;
    font-weight:800;
    margin-bottom: 20px;
}
.settings-page
{
    flex:0.65;
    padding:30px;
    background-color: #394e64;
}   
.avatar-img
{
    height:250px;
    width:100%;
    margin-bottom: 20px;
    background-color: #aaa;
}
.avatar-img img
{
    height:100%;
    width:100%;
}
.accounts-profile
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.settings h4
{
    color:#fff;
    font-weight:800;
    margin-bottom: 20px;
}
.left-area, .rigth-area
{
    flex:0.48;
}
.btn-margin
{
    margin-top: 34px;
}
label
{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
.input
{
    height:50px;
    /* border:1px solid red; */
    margin-top:15px;
    margin-bottom:20px;
}
.input input[type="text"], 
.input input[type="password"],
.input input[type="tel"],
.input input[type="mail"]
{
    height:100%;
    width: 100%;
    background-color: #54657d;
    border: none;
    outline: none;
    font-size: 16px;
    text-indent: 20px;
    color:#fff;
}
.input input[type="text"]:focus, 
.input input[type="password"]:focus,
.input input[type="tel"]:focus,
.input input[type="mail"]:focus
{
    background-color: #60738e;
    color:#fff;
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(180, 206, 233, 0.5);
}
.btn
{
    height:50px;
    width:100%;
    text-transform: uppercase;
    color:#fff;
    font-weight: 700;
    background-color: #f5a623;
    margin-bottom: 35px;
    border: none;
    letter-spacing: -0.5px;
}
.btn:hover
{
    color:#f5a623;
    background-color: transparent;
    border:2px solid #f5a623;
}
.btn:active
{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}  
.custom-select
{
    height:50px;
    width: 100%;
    border: none;
    color: #acc6de;
    padding: 15px;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    outline: none;    
    background-color: #54657d;
    font-size: 16px;
}

@media screen and (max-width:915px) 
{
    .accounts-page {
        max-width: 100%;
        margin-top: 30px !important;
        margin: 0;
    }
    .accounts {
        padding: 10px;
        margin-bottom: 30px;
        background-color: #394e64;
    }
    .profile-page {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    
}