.notification-div
{
    width:450px;
    height:350px;
    overflow-y: hidden;
    /* border: 1px solid orange; */
    background-color: #435c70;;
}
.chart-container h1
{
    color:#fff;
    font-size: 18px;
}
.notification-area
{
    /* border:2px solid green; */
    overflow-y: scroll;
    height:77%;
    margin-top:10px;
}
.notification-list
{
    /* border: 1px solid white; */
    margin-top:20px;
    height: 88%;
    width:99%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #567086;
}
.notification
{
    height:100px;
    /* border:2px solid rgb(38, 0, 255); */
    margin-bottom:5px;
    display: flex;
    align-items: center;
    background-color: #4e657a;
    /* padding:10px; */
    justify-content: space-between;
}
.image-div
{
    height:100%;
    /* border:1px solid yellow; */
    width:100%;
    border-radius: 50%;
}
.image-container
{
    height:100%;
    /* border:1px solid yellow; */
    width:22%;
}
.notification-contenet
{
    height:100%;
    /* border:1px solid rgb(216, 17, 110); */
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:20px;
}
.ago
{
    color:#bdcbd8;
    font-size: 12px;
}
.image-div img
{
    height:100%;
    width:100%;
    border-radius:50%;
}
.content
{
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}


